.score-board {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .score-board h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .scores {
    display: flex;
    justify-content: space-between;
  }
  
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .player {
    font-weight: bold;
    margin-bottom: 5px;
  }